<!doctype html>
<html lang="es">

<head>
	<!-- REQUIRED META TAGS -->
	<meta charset="utf-8">
	<meta name="description" content="Grupo de Ortopedia y Traumatología. Brindamos una atención personalizada, con conocimientos y técnicas actuales. Estamos para ayudarte.">
	<meta name="image" content="assets/img/favicon.png">
	<meta name="keywords" content="traumatología ,traumatologia, doctor, medico, dr Gonzales, Paul Gonzales Alvarez, jesus maria, 940158503, ortopediaytraumatologia, Traumatologia, Ortopedia infantil, Cirugia Artroscopica, Artroscopica, Prótesis, Protesis, pacientes, paciente, cita medica, medicos, consultorio, Prótesis Articulares, problemas de ortopedia, Ortopedia infantil, Cirujano Traumatólogo, Rodilla, Cadera">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- FAVICON -->
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<!-- TITLE -->
	<title>Grupo de Ortopedia y Traumatología</title>

	<!-- BOOTSTRAP MIN CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- OWL THEME DEFAULT MIN CSS -->
	<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
	<!-- OWL CAROUSEL MIN CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<!-- MAGNIFIC POPUP MIN CSS -->
	<link rel="stylesheet" href="assets/css/magnific-popup.min.css">
	<!-- ANIMATE MIN CSS -->
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<!-- BOXICONS CSS -->
	<link rel="stylesheet" href="assets/css/boxicons.min.css">
	<!-- FLATICON CSS -->
	<link rel="stylesheet" href="assets/css/flaticon.css">
	<!-- MEANMENU MIN CSS -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- NICE SELECT MIN CSS -->
	<link rel="stylesheet" href="assets/css/nice-select.min.css">
	<!-- ODOMETER MIN CSS-->
	<link rel="stylesheet" href="assets/css/odometer.min.css">
	<!-- AOS CSS -->
	<link rel="stylesheet" href="assets/css/aos.css">
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- RESPONSIVE CSS -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- CUSTOM -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
	<!-- START HEADER AREA -->
	<header id="home" class="header-area">
		<div class="nav-area">
			<div class="navbar-area">
				<div class="main-nav">
					<nav class="navbar navbar-expand-md">
						<div class="container">
							<a class="navbar-brand navbar-brand-custom" href="#home">
								<img src="assets/img/logo.png" alt="Logo">
							</a>

							<div class="collapse navbar-collapse mean-menu">
								<ul class="navbar-nav m-auto">
									<li class="nav-item">
										<a href="#home" class="nav-link">Inicio</a>
									</li>

									<li class="nav-item">
										<a href="#services" class="nav-link">Servicios</a>
									</li>

									<li class="nav-item">
										<a href="#medic" class="nav-link">Dr Paul</a>
									</li>

									<li class="nav-item">
										<a href="#knowmore" class="nav-link">Conoce más</a>
									</li>

									<li class="nav-item">
										<a href="#gallery" class="nav-link">Galería</a>
									</li>

									<li class="nav-item">
										<a href="#contact" class="nav-link">Contacto</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>

				<!-- Menu For Mobile Device -->
				<div class="mobile-nav">
					<a href="#home" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
				</div>
			</div>
		</div>
	</header>
	<!-- END HEADER AREA -->

	<!-- START BANNER AREA -->
	<section class="banner-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="banner-content">
								<!-- <span class="wow fadeInUp" data-wow-delay=".4s">Welcome To Medic</span> -->
								<h1 class="wow fadeInUp" data-wow-delay=".6s">Nuestros pacientes son lo primero</h1>
								<p class="wow fadeInUp" data-wow-delay=".8s">Brindamos una atención personalizada, con conocimientos y técnicas actuales
									<br/>
									Estamos para ayudarte
								</p>
								<div class="banner-btn wow fadeInUp" data-wow-delay=".9s">
									<a href="#services" class="default-btn">
										Servicios
									</a>
									<a href="#contact" class="default-btn">
										Contactanos
									</a>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="banner-img wow fadeInUp" data-wow-delay=".9s">
								<img src="assets/img/hone-one-banner/banner-bg2.png" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END BANNER AREA -->





	<!-- END SERVICES AREA -->
	<section id="services" class="services-area bg-color pt-100 pb-70">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1200" class="section-title">
				<!-- <span class="top-title">Our Services</span> -->
				<h2><span>Servicios</span></h2>
				<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis deleniti illum necessitati
					voluptates ipsum, ratione dolorum veritatis minus mollitia placeat</p> -->
			</div>

			<div class="row">
				<div data-aos="fade-up" data-aos-duration="1400" class="col-xl-4 col-lg-6 col-12">
					<div class="single-services">
						<i class="flaticon-doctor"></i>
						<h3>Traumatología</h3>
						<p>Tratamos fracturas, lesiones articulares y de ligamentos en adultos y niños</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-duration="1600" class="col-xl-4 col-lg-6 col-12">
					<div class="single-services">
						<i class="flaticon-doctor"></i>
						<h3>Ortopedia infantil</h3>
						<p>Nos ocupamos de prevenir, diagnosticar y tratar <br/>patología del aparato locomotor en la etapa infantil</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-duration="1800" class="col-xl-4 col-lg-6 col-12">
					<div class="single-services">
						<i class="flaticon-doctor"></i>
						<h3>Cirugía artroscópica</h3>
						<p>Rápida recuperación, cortes pequeños y menor dolor</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-duration="2000" class="col-xl-4 col-lg-6 col-12">
					<div class="single-services">
						<i class="flaticon-doctor"></i>
						<h3>Prótesis</h3>
						<p>Cirugía que alivia el dolor y regresa la función a las articulaciones</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-duration="2200" class="col-xl-4 col-lg-6 col-12">
					<div class="single-services">
						<i class="flaticon-doctor"></i>
						<h3>Segunda opinión</h3>
						<p>Cuéntanos tu caso y envíanos tus estudios para agendar una teleconsulta o evaluación presencial</p>
					</div>
				</div>

				

			</div>
		</div>
	</section>
	<!-- END SERVICES AREA -->





	<!-- START WHY CHOOSE AREA -->
	<section id="medic" class="why-choose-area ptb-100">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1200" class="section-title">
				<!-- <span class="top-title">Médico</span> -->
				<h2><span>Dr. C. Paul Gonzales Alvarez</span></h2>
			</div>
			<div class="tab choose-tab">
				<div class="why-choose-wrap">
					<div class="tab_content">
						<div class="tabs_item">
							<div class="row">

								<div data-aos="fade-up" data-aos-duration="1400" class="col-lg-4 col-sm-12">
									<div class="single-doctor custom-single-doctor">
										<img src="assets/img/doctor/1.png" alt="Image">

										<div class="doctor-content">
											<h3>Dr. C. Paul Gonzales Alvarez</h3>
											<span>Cirujano Traumatólogo de Rodilla y Cadera</span>
										</div>
										<ul>
											<li>
												<a href="https://www.facebook.com/drpaulgonzalestraumatologo">
													<i class="bx bxl-facebook"></i>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/dr.paulgonzalestraumatologo/">
													<i class="bx bxl-instagram"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<div data-aos="fade-up" data-aos-duration="1200" class="col-lg-6 col-sm-12">
									<div class="about-content">
										<h3>Experiencia en que confiar</h3>
										<ul>
											<li>
												<i class='bx bx-chevron-right' ></i>
												Realicé mi especialidad en cirugía ortopédica y traumatología en el Hospital Nacional Dos de
												Mayo, por la Universidad Nacional Mayor de San Marcos, complemente mi formación en patología de
												cadera y rodilla en Nueva York - EEUU (Hassefeld Children´s Hospital at NYU Langone) y
												Barcelona-España (ICATME - Hospital universitario Dexeus).
											</li>
											<li>
												<i class='bx bx-chevron-right' ></i>
												Participé en múltiples cursos de capacitación alrededor del mundo.
											</li>
											<li>
												<i class='bx bx-chevron-right' ></i>
												Mi principal área de interés son las lesiones de la cadera y la rodilla.
											</li>
											<li>
												<i class='bx bx-chevron-right' ></i>
												Actualmente laboro en el Hospital Edgardo Rebagliati, clínica Goodhope y clínica Santa Beatriz
											</li>
											<li>
												<i class='bx bx-chevron-right' ></i>
												Mi objetivo es brindar a mis pacientes atención médica de calidad y los mejores resultados.
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END WHY CHOOSE AREA -->





	<!-- START FAQ AREA -->
	<section id="knowmore" class="faq-area bg-color ptb-100">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1200" class="section-title">
				<!-- <span class="top-title">FAQ'S</span> -->
				<h2><span>El paciente es lo primero</span></h2>
			</div>

			<div class="row align-items-center">
				<div data-aos="fade-up" data-aos-duration="1400" class="col-lg-6">
					<div class="faq-image">
						<img src="assets/img/faq-img.jpg" alt="image">
					</div>
				</div>

				<div class="col-lg-6">
					<div class="faq-accordion">
						<ul class="accordion">
							<li data-aos="fade-up" data-aos-duration="1600" class="accordion-item active">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									Traumatología
								</a>

								<p class="accordion-content show" style="text-align: justify;">
									Es la especialidad médica que se dedica al tratamiento de las lesiones traumáticas de los huesos,
									músculos, articulaciones, tendones. Incluye el manejo de las fracturas, luxaciones, lesiones
									musculares, ligamentarías y articulares, entre otras.
									<br /><br />
									Estas lesiones pueden ser tratadas de forma conservadora con vendajes, colocación de férulas o yesos o
									tratamientos más invasivos como intervenciones quirúrgicas en las que se pueden utilizar placas,
									tornillos y otros dispositivos en el interior del cuerpo.
								</p>
							</li>

							<li data-aos="fade-up" data-aos-duration="1800" class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									Ortopedia infantil
								</a>

								<p class="accordion-content" style="text-align: justify;">
									Se ocupa de prevenir, diagnosticar y tratar las patologías del aparato locomotor durante la etapa
									infantil. El abordaje de los problemas del sistema musculoesquelético en bebés y niños debe de ser
									diferente al que se realiza durante la edad adulta, esto se debe a que, durante la infancia, todo el
									sistema óseo y muscular se encuentra en pleno desarrollo y crecimiento.
									<br /><br />
									Realizamos una detección temprana de patologías de cadera, rodilla, piernas, pies, lesiones o
									problemas posturales. De esta forma tratamos de evitar futuras afecciones en huesos, articulaciones,
									músculos, tendones y ligamentos durante la edad adulta.
									<br /><br />
									Por otro lado, la ortopedia infantil se ocupa de la prevención, diagnóstico, tratamiento y seguimiento
									de los problemas y deformidades del sistema musculoesquelético. Esto se realiza a través de
									procedimientos médicos y cirugías mínimamente invasivas.
								</p>
							</li>


							<li data-aos="fade-up" data-aos-duration="1800" class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									Estos son los principales problemas de ortopedia y traumatología infantil que tratamos
								</a>

								<p class="accordion-content" style="text-align: justify;">
									Lesiones y enfermedades congénitas de cadera: Displasia de cadera, enfermedad de perthes, etc.
									<br /><br />
									Patologías del pie durante la infancia: Pie equinovaro, Pie plano, etc.
									<br /><br />
									Problemas de rodilla durante el crecimiento: Genuvaro, Genuvalgo, etc.
									<br /><br />
									Patologías del crecimiento: Dismetría, Osteocondrosis, etc.
								</p>
							</li>

							<li data-aos="fade-up" data-aos-duration="2000" class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									Cirugía artroscópica
								</a>

								<p class="accordion-content" style="text-align: justify;">
									Es un procedimiento de mínima invasión utilizado para visualizar, diagnosticar y tratar problemas
									relacionados con las articulaciones.
									<br /><br />
									Consiste en introducir un artroscopio, que es una pequeña cámara de fibra óptica, a través de una
									incisión de un centímetro o menos que permite tener una visión completa de la articulación, así como
									tomar las biopsias requeridas.
									<br /><br />
									La cirugía artroscópica es muy útil en lesiones articulares de rodilla, hombro, cadera, codo, tobillo
									o muñeca, evitando riesgos y complicaciones relacionados con la cirugía abierta al manipular menos
									tejidos, logrando una estancia hospitalaria más corta y una recuperación más rápida.
									<br /><br />
									La cirugía artroscópica es una herramienta eficaz para los pacientes ortopédicos, quienes pueden
									regresar a casa horas después de haber sido intervenidos.
									<br /><br />
									Aunque las heridas de las incisiones son pequeñas y el dolor en la articulación que recibió la
									artroscopia es mínimo, te tomará algunas semanas recuperarte totalmente. Tu médico desarrollará un
									programa específico de actividades para tu rehabilitación y proteger la articulación de futuras
									complicaciones.
									<br /><br />
									En el Grupo de Ortopedia y Traumatología buscamos mejorar la vida de los pacientes restringidos o
									inmovilizados por trastornos o lesiones musculoesqueléticas. Nos especializamos en el cuidado del
									aparato locomotor mediante la integración de los últimos avances médicos, biológicos y tecnológicos,
									en estricto apego a los más elevados estándares internacionales de atención al paciente.
								</p>
							</li>

							<li data-aos="fade-up" data-aos-duration="2200" class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									Prótesis Articulares
								</a>
								<p class="accordion-content" style="text-align: justify;">
									También denominada cirugía de reemplazo articular.
									<br /><br />
									La demanda de reemplazos articulares ha aumentado en los últimos años debido al incremento poblacional
									de adultos mayores, así como a diagnósticos tempranos de artrosis y avances en la tecnología para
									realizar dichos reemplazos.
									<br /><br />
									La cirugía de reemplazo articular implica el reemplazo de una articulación dañada por una nueva
									denominada prótesis. Estas nuevas articulaciones pueden estar desarrolladas de metal, plástico o
									cerámica, etc.
									<br /><br />
									Las caderas y las rodillas son las articulaciones que se reemplazan con mayor frecuencia, pero también
									se pueden reemplazar el hombro, tobillo y codo.
									<br /><br />
									Tiene como objetivo aliviar el dolor, recuperar la función articular.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END FAQ AREA -->



	<!-- START BLOG AREA -->
	<!-- <section id="gallery" class="blog-area bg-color ptb-100">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1200" class="section-title">
				<h2><span>Galería</span></h2>
			</div>
			<div class="row">
				<div data-aos="fade-up" data-aos-duration="800" class="col-lg-4 col-md-6">
					<div class="single-blog">
						<img src="assets/img/blog/1.jpg" alt="Image">
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1000" class="col-lg-4 col-md-6">
					<div class="single-blog">
						<img src="assets/img/blog/2.jpg" alt="Image">
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1200" class="col-lg-4 col-md-6">
					<div class="single-blog">
						<img src="assets/img/blog/3.jpg" alt="Image">
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1400" class="col-lg-4 col-md-6">
					<div class="single-blog">
						<img src="assets/img/blog/4.jpg" alt="Image">
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1600" class="col-lg-4 col-md-6">
					<div class="single-blog">
						<img src="assets/img/blog/5.jpg" alt="Image">
					</div>
				</div>
				<div data-aos="fade-up" data-aos-duration="1800" class="col-lg-4 col-md-6">
					<div class="single-blog">
						<img src="assets/img/blog/6.jpg" alt="Image">
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- END BLOG AREA -->






	<!-- START CONTACT FORM AREA -->
	<section id="contact" class="contact-form-area ptb-100">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1200" class="section-title">
				<h2><span>Nos Encontramos Cerca De Ti</span></h2>
				<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repellendus molestiae, neque earum magnam enim,
					magni maiores laudantium ratione libero sapiente eum molestias.</p> -->
			</div>
			<div class="row">
				<div data-aos="fade-up" data-aos-duration="1200" class="col-lg-6">
					<div class="get-in-touch">
						<h3>Contactanos</h3>
						<ul>
							<li>
								<div class="icon">
									<i class="bx bx-location-plus"></i>
								</div>
								<span>Direccion:</span>
								Jr Ramon Dagnino 227 - consultorio 203 - Jesús María, Lima
							</li>
							<li>
								<div class="icon">
									<i class="bx bx-envelope"></i>
								</div>
								<span>Email:</span>
								<a href="mailto:paulgonzales@ortopediaytraumatologia.com.pe">
									paulgonzales@ortopediaytraumatologia.com.pe
								</a>
							</li>
							<li>
								<div class="icon">
									<i class="bx bx-phone-call"></i>
								</div>
								<span>Telefono:</span>
								<a href="tel:51940158503">940 158 503</a>
							</li>
						</ul>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-duration="1600" class="col-lg-6">
					<!-- START MAP AREA -->
					<div data-aos="fade-up" data-aos-duration="1600" class="contact-map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1651.8251090277008!2d-77.0387792997785!3d-12.07194439929862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8ec33a50479%3A0x555f09b06620db78!2sJiron%20Ram%C3%B3n%20Dagnino%20227%2C%20Jes%C3%BAs%20Mar%C3%ADa%2015072!5e0!3m2!1sen!2spe!4v1669085528106!5m2!1sen!2spe"
							width="600" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
					<!-- END MAP AREA -->
				</div>
			</div>
		</div>
	</section>
	<!-- END CONTACT FORM AREA -->




	<!-- START FOOTER TOP AREA -->
	<footer class="footer-top-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-widget">
						<a href="#">
							<img src="assets/img/logo.png" alt="Image">
						</a>
						<p>Te brindamos la mejor atención con conocimientos y técnicas actuales, estamos para ayudarte 🙂</p>
						<div class="social-area">
							<ul>
								<li>
									<a href="https://www.facebook.com/drpaulgonzalestraumatologo"><i class="bx bxl-facebook"></i></a>
								</li>
								<!-- <li>
									<a href="#"><i class="bx bxl-twitter"></i></a>
								</li> -->
								<!-- <li>
									<a href="#"><i class="bx bxl-linkedin"></i></a>
								</li> -->
								<!-- <li>
									<a href="#"><i class="bx bxl-youtube"></i></a>
								</li> -->
								<li>
									<a href="https://www.instagram.com/dr.paulgonzalestraumatologo/"><i class="bx bxl-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-widget">
						<h3>Servicios</h3>
						<ul>
							<li>
								<a href="#services">Traumatologia</a>
							</li>
							<li>
								<a href="#services">Ortopedia infantil</a>
							</li>
							<li>
								<a href="#services">Cirugia Artroscopica</a>
							</li>
							<li>
								<a href="#services">Prótesis</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-widget open-time">
						<h3>Horarios de Atención</h3>
						<ul>
							<li>
								<span>Lun-Vier:</span>
								<span class="right">09:00 AM - 06:00 PM</span>
							</li>
							<li>
								<span>Sab:</span>
								<span class="right">09:00 AM - 01:00 PM</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-widget contact">
						<h3>Contacto</h3>
						<ul>
							<li>
								<i class="bx bx-phone-call"></i>
								<span>Telefono:</span>
								<a href="tel:51940158503">940 158 503</a>
								</a>
							</li>
							<li>
								<i class="bx bx-envelope"></i>
								<span>Email:</span>
								<a href="mailto:paulgonzales@ortopediaytraumatologia.com.pe">
									paulgonzales@ortopediaytraumatologia.com.pe
								</a>
							</li>
							<li>
								<i class="bx bx-location-plus"></i>
								<span>Dirección:</span>
								Jr Ramon Dagnino 227 - consultorio 203 - Jesús María, Lima
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END FOOTER TOP AREA -->

	<!-- START FOOTER BOTTOM AREA -->
	<footer class="footer-bottom-area">
		<div class="container">
			<div class="copy-right">
				<p>Copyright <i class="bx bx-copyright"></i> 2022 GOT - All rights reserved.</p>
			</div>
		</div>
	</footer>
	<!-- END FOOTER BOTTOM AREA -->

	<!-- START GO TOP AREA -->
	<div class="go-top">
		<i class='bx bx-chevrons-up'></i>
	</div>
	<!-- END GO TOP AREA -->

	<!-- JQUERY MIN JS -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- BOOTSTRAP MIN JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- MEANMENU MIN JS -->
	<script src="assets/js/meanmenu.min.js"></script>
	<!-- WOW MIN JS -->
	<script src="assets/js/wow.min.js"></script>
	<!-- OWL CAROUSEL MIN JS -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- OWL MAGNIFIC POPUP MIN JS -->
	<script src="assets/js/magnific-popup.min.js"></script>
	<!-- NICE SELECT MIN JS -->
	<script src="assets/js/nice-select.min.js"></script>
	<!-- APPEAR MIN JS -->
	<script src="assets/js/appear.min.js"></script>
	<!-- ODOMETER MIN JS -->
	<script src="assets/js/odometer.min.js"></script>
	<!-- DATEPICKER MIN JS -->
	<script src="assets/js/bootstrap-datepicker.min.js"></script>
	<!-- FORM VALIDATOR MIN JS -->
	<script src="assets/js/form-validator.min.js"></script>
	<!-- CONTACT JS -->
	<script src="assets/js/contact-form-script.js"></script>
	<!-- AJAXCHIMP MIN JS -->
	<script src="assets/js/ajaxchimp.min.js"></script>
	<!-- AOS JS -->
	<script src="assets/js/aos.js"></script>
	<!-- CUSTOM JS -->
	<script src="assets/js/custom.js"></script>
</body>

<!--any inquiry email at depalominop@gmail.com-->

</html>